.thumbnail .description {
    color: #7f7f7f;
}

.precio {
    font-weight: bold;
    font-size: 16px
}

.outcome {
    float: left;
    width: 100%;
    padding-top: 8px;
    min-height: 24px;
    text-align: center;
}

.success,
.error {
    display: none;
    font-size: 13px;
}

.success.visible,
.error.visible {
    display: inline;
}

.error {
    color: #E4584C;
}

.success {
    color: #666EE8;
}

.success .token {
    font-weight: 500;
    font-size: 13px;
}